body {
  box-sizing: border-box;
  font-family: sans-serif;
}

#login-container {
  width: 460px;
  margin: 0 auto;
}

form label,
form input {
  width: 100%;
  box-sizing: border-box;
}

form input {
  padding: 8px;
}

form label {
  font-weight: bold;
}

form div {
  margin: 16px 0px;
}

form div {
  position: relative;
}

form span {
  position: absolute;
  right: 10px;
  margin-top: 9px;
}

input.valid {
  border: 2px solid green;
}

input.invalid {
  border: 2px solid red;
}

#messages {
  margin-top: 10px;
}

#messages p {
  font-size: 14px;
  color: brown;
  margin: 4px 0 0 0;
  padding-left: 4px;
}
